rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read/write since Auth is on a different Firebase project
      allow read, write: if true;
    }
  }
}
